<%- include("../partials/header.ejs") %>
<div class="about-container">
<h1>About</h1>
<img class="profile" src="images/barbara.jpeg" alt="barbara profile">
<p>Barbara Oliveira is Brazilian, originally from Minas Gerais, a mother to Cecília, and married. She has been living in London for the past four years and has over five years of experience as a specialist in eyebrow and eyelash design. Passionate about her work, Barbara finds joy in transforming her clients’ looks and enhancing their self-confidence. With a keen eye for detail, she believes that eyebrow design is a powerful expression of personality.</p>
</div>
<%- include("../partials/footer.ejs") %>