<%- include("../partials/header.ejs") %>
<div class="content-container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary position-relative">
  <div class="d-flex justify-content-end align-items-center text-center">

    <div class="text-container">
      <h1 class="display-4 fst-italic">Welcome to my blog</h1>
      <p class="lead my-3">"Here, you’ll find tips on eyebrow aftercare, tricks to keep them looking great, and more. 
        <br>Stick around for fun and easy tips to make your eyebrow routine even better!”</p>
    </div>

    <div class="image-container">
      <img src="images/Image_resized.png" class="img-fluid custom-image" alt="Bootstrap Themes" width="200px" loading="lazy">
    </div>
    
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Eyebrow Design</strong>
        <h3 class="mb-0">Eyebrow Lamination Care</h3>
        <div class="mb-1 text-body-secondary">Nov 12</div>
        <a href="/lamination" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="images/eyebrow-laminationa.jpeg" width="130%" height="100%" />
        </svg>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Eyelash Extensions</strong>
        <h3 class="mb-0">Eyelash Extensions Care</h3>
        <div class="mb-1 text-body-secondary">Nov 11</div>
        <a href="/eyelash" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="images/eyelash.jpeg" width="130%" height="100%" />
        </svg>
      </div>
    </div>
  </div>
</div>



<%- include("../partials/footer.ejs") %> 

